# **Урок 1. Оформление ноутбука и закрепление функций и генераторов**

## Задача 1:
Оформляйте ноутбук, используя эти советы:
* Номер задачи - заголовок 2
* Номер подзадачи - заголовок 3
* Предоставленные наборы данных оформляйте, как код

**Рекомендации для преподавателей по оценке задания:**
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Задача 2:
На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [78]:
def fruits(**kwargs):
  return {'sum': sum(kwargs.values())}
fruits(oranges = 20, grape = 57, lemons = 11, apples = 34)

{'sum': 122}

## Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты:

[100, 125, -90, 345, 655, -1, 0, 200]

*Используйте list comprehensions*

In [79]:
cost_list = [100, 125, -90, 345, 655, -1, 0, 200]

In [80]:
def expenses(cost_list): 
    return [_ for _ in cost_list if _ > 0]
    
expenses(cost_list)

[100, 125, 345, 655, 200]

In [81]:
print('Суммарные затраты: ', +sum(expenses(cost_list)))

Суммарные затраты:  1425

## Задача 4:

**Даны два списка:**

*1. Дата покупки*

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

*2. Суммы покупок по датам*

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Подзадача 4.1 

Найдите, какая выручка у компании в ноябре

*Используйте list comprehensions*

In [82]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
        '2021-10-26', '2021-12-09']
summa = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
         4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [83]:
def revenue_november(data: list, summa: list):
    return {summa[i] for i in range(len(data)) if '-11-' in data[i]}
  
result = revenue_november(data, summa)
print(result)

{2822, 4944, 4274, 2004, 3701, 316, 7037}

In [84]:
print('Суммарная выручка за ноябрь: ', +sum(result))

Суммарная выручка за ноябрь:  25098

### Подзадача 4.2

Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [85]:
def revenue_by_month(data: list, summa: list):
    rev = {}
    for dt, sm in zip(data, summa):
        if dt[5:7] in rev.keys():
            rev[dt[5:7]] = rev[dt[5:7]] + sm
        else:
            rev[dt[5:7]] = sm
    return rev

res = revenue_by_month(data, summa)
print(res)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

In [86]:
for key, value in res.items():
 print("{0}: {1}".format(key,value))

09: 25647
12: 45452
10: 28645
11: 25098